<!-- the entire hazard index table is contained in div w/ class="table" -->
<div class="table">
	<!-- first subtable contains the main header and the column headers -->
	<table>
		<tr>
			<th class="top" colspan="4">
				Hazards Associated with <%= @task.name %> Task in the <%= @department.name %> Department
			</th>
		</tr>
		<tr>
			<th class="sub tleft w25">
				Hazard Type:
			</th>
			<th class="sub tleft w25">
				Hazard Description:
			</th>
			<th class="sub tcenter w20">
				Date Complete:
			</th>
			<th class="sub tcenter">
				Hazard Actions:
			</th>
		</tr>
	</table>
		<!-- each task subtable contains task information and action buttons -->
	<%= div_for(@task.hazards) do |hazard| %>
		<!-- each task subtable contains task information and action buttons -->
		<table>
			<tr>
				<td class="tleft w25">
					<%= hazard.haztype %>
				</td>
				<td class="tleft w25">
					<%= hazard.description %>
				</td>
				<td class="tcenter w20">
					<%= hazard.date_completed %>
				</td>
				<td class="tcenter">
					<ul class="menu w100">
						<li><%= link_to 'Edit Info', edit_department_task_hazard_path(@department,@task,hazard), :class=>"link2" %></li>
						<li><%= link_to 'Destroy', [@department,@task, hazard], method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class=>"link2" %></li>
					</ul>
				</td>
			</tr>
		</table>
	<% end %>
</div>