<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @hazard.type %>
</p>

<p>
  <b>Description:</b>
  <%= @hazard.description %>
</p>

<p>
  <b>Question1:</b>
  <%= @hazard.question1 %>
</p>

<p>
  <b>Question2:</b>
  <%= @hazard.question2 %>
</p>

<p>
  <b>Question3:</b>
  <%= @hazard.question3 %>
</p>

<p>
  <b>Question4:</b>
  <%= @hazard.question4 %>
</p>

<p>
  <b>Question5:</b>
  <%= @hazard.question5 %>
</p>

<p>
  <b>Question6:</b>
  <%= @hazard.question6 %>
</p>

<p>
  <b>Question7:</b>
  <%= @hazard.question7 %>
</p>

<p>
  <b>Question8:</b>
  <%= @hazard.question8 %>
</p>

<p>
  <b>Question9:</b>
  <%= @hazard.question9 %>
</p>

<p>
  <b>Question10:</b>
  <%= @hazard.question10 %>
</p>

<p>
  <b>Complete:</b>
  <%= @hazard.complete %>
</p>

<p>
  <b>Date completed:</b>
  <%= @hazard.date_completed %>
</p>

<p>
  <b>Task:</b>
  <%= @hazard.task %>
</p>


<%= link_to 'Edit', edit_hazard_path(@hazard) %> |
<%= link_to 'Back', hazards_path %>
