<!-- Hazard Type 1 Form -->
<!--
<div class="hidden haz1">
	<table class="w100">
		<th class="sub" colspan="2">
			Hazard Evaluation Form - Hazard Type 1
		</th>
		<tr>
			<td class="tleft w25">
				Description:
			</td>
			<td class="tleft">
				<%= f.text_area :description, :class=>"area w99" %>
			</td>
		</tr>
	</table>
  <table class="w100">
  	<tr>
			<td class="tleft w50">
				Question #1:
			</td>
			<td class="tleft">
				<%= f.text_field :question1, :class=>"field w99" %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Question #2:
			</td>
			<td class="tleft">
				<%= f.text_field :question2, :class=>"field w99" %>
			</td>
		</tr>
	</table>
</div>
-->

<!-- Hazard Type 2 Form -->
<div class="hidden haz2">
	<table class="w100">
		<th class="sub" colspan="2">
			Hazard Evaluation Form - Hazard Type 2
		</th>
		<tr>
			<td class="tleft w25">
				Question #3:
			</td>
			<td class="tleft">
				<%= f.text_field :question3, :class=>"field w99" %>
			</td>
  	<tr>
			<td class="tleft">
				Question #4:
			</td>
			<td class="tleft">
				<%= f.file_field :question4, :class=>"w99" %>
			</td>
		</tr>
	</table>
	<table class="w100">
		<tr>
	  	<td class="tleft w50">
				Question #5:
			</td>
			<td class="tleft">
				<%= f.check_box :question5 %>
				<%= f.label :question5, " (Select Check Box if YES)"%>				
			</td>
	 	</tr>
	  <tr>
	  	<td class="tleft">
				Question #6:
			</td>
			<td class="tleft">
				<%= f.check_box :question6 %>
				<%= f.label :question6, " (Select Check Box if YES)"%>
			</td>
	 	</tr>
	</table>
</div>

<!-- Hazard Type 3 Form -->
<div class="hidden haz3">
	<table class="w100">
		<th class="sub" colspan="2">
			Hazard Evaluation Form - Hazard Type 3
		</th>
  	<tr>
  		<td class="tleft w50">
				Question #7:
			</td>
			<td class="tleft">
				<%= f.check_box :question7 %>
				<%= f.label :question7, " (Select Check Box if YES)"%>
			</td>
  	</tr>
  	<tr>
  		<td class="tleft">
				Question #8:
			</td>
			<td class="tleft">
				<%= f.check_box :question8 %>
				<%= f.label :question8, " (Select Check Box if YES)"%>
			</td>
  	</tr>
  	<tr>
			<td class="tleft">
				Question #9:
			</td>
			<td class="tleft">
				<%= f.text_field :question9, :class=>"field w99" %>
			</td>
		</tr>
	</table>
</div>

<!-- Hazard Type 4 Form -->
<div class="hidden haz4">
	<table class="w100">
		<th class="sub" colspan="2">
			Hazard Evaluation Form - Hazard Type 4
		</th>
  	<tr>
			<td class="tleft">
				Question #10:
			</td>
			<td class="tleft">
				<%= f.text_field :question10, :class=>"field w99" %>
			</td>
		</tr>
  	<tr>
  		<td class="tleft">
				Complete?:
			</td>
			<td class="tleft">
				<%= f.check_box :complete %>
				<%= f.label :complete, " (Select Check Box if YES)"%>
			</td>
  	</tr>
	</table>
</div>
<!-- Access Hazard Form -->
	<div class="hidden haz1">					
		<table>				
			<tr>			
				<th colspan="3">Risk Assessment Change:</th>		
			</tr>			
			<tr>			
				<td><B>Did Access and Egress Risk Change Since Last Assessment was Performed?</B></td>		
				<td><%= f.radio_button :access_change_yes_no, 'No' %><%= f.label :access_change_yes_no_No, 'No' %></td>		
				<td><%= f.radio_button :access_change_yes_no, 'Yes' %><%= f.label :access_change_yes_no_Yes, 'Yes' %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<tr>			
				<th>Description of Change:</th>		
			</tr>			
			<tr>			
				<td><%= f.text_area :access_change_comment, :size => "94x5" %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<col width="380">			
			<col width="380">			
			<tr>			
				<th>Description of Hazards:</th>		
				<th>Description of Control Measures:</th>		
			</tr>			
			<tr>			
				<td><%= f.text_area :access_description_hazard, :size => "42x5" %></td>		
				<td><%= f.text_area :access_description_control, :size => "42x5" %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<col width="350">			
			<col width="25">			
			<col width="25">			
			<col width="50">			
			<tr>			
				<th colspan="4">Risk Questionnaire:</th>		
			</tr>			
			<tr>			
				<td><B>Question:</B></td>		
				<td><B>No</B></td>		
				<td><B>Yes</B></td>		
				<td><B>Severity</B></td>		
			</tr>			
			<tr>			
				<td>Are the hallways free and clear of clutter/crowding?</td>		
				<td><%= f.radio_button :access_question_1_yes_no, 'No' %></td>		
				<td><%= f.radio_button :access_question_1_yes_no, 'Yes' %></td>		
				<td><%= f.select :access_question_1_severity, [['-',0], ['Minor (1)',1], ['Serious (3)',3], ['Major (6)',6], ['Grave (10)',10]] %></td>		
			</tr>			
			<tr>			
				<td>Do personnel have free and clear access to the doors and stairs?</td>		
				<td><%= f.radio_button :access_question_2_yes_no, 'No' %></td>		
				<td><%= f.radio_button :access_question_2_yes_no, 'Yes' %></td>		
				<td><%= f.select :access_question_2_severity, [['-',0], ['Minor (1)',1], ['Serious (3)',3], ['Major (6)',6], ['Grave (10)',10]] %></td>		
			</tr>			
			<tr>			
				<td>Are Emergency Exit signs directing personnel to the nearest emergency exit visible?</td>		
				<td><%= f.radio_button :access_question_3_yes_no, 'No' %></td>		
				<td><%= f.radio_button :access_question_3_yes_no, 'Yes' %></td>		
				<td><%= f.select :access_question_3_severity, [['-',0], ['Minor (1)',1], ['Serious (3)',3], ['Major (6)',6], ['Grave (10)',10]] %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<col width="380">			
			<col width="380">			
			<tr>			
				<th>How Often Does Risk Exist?:</th>		
				<th>How Long Does Risk Exist?:</th>		
			</tr>			
			<tr>			
				<td><%= f.select :access_frequency_often, [['-',1001],['Never - Cannot be Exposed(0)',0],['Rare (1) - once per month or less',1], ['Seldom (2) - Once a week to several times a month',2], ['Regular (3) - Every week to several times a week',3], ['Common (4) - Every day to several times a day',4]] %></td>		
				<td><%= f.select :access_frequency_time, [['-',1001], ['Never - Cannot be Exposed(0)',0],['Short (1) - Less than fifteen minutes per occurrence',1], ['Medium (2) - Fifteen minutes to two hours per occurrence',2], ['Long (3) - Two hours to four hours per occurrence',3], ['Extended (4) - Greater than four hours per occurrence',4]] %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<col width="120">			
			<col width="120">			
			<col width="120">			
			<col width="120">			
			<tr>			
				<th>Severity:</th>		
				<th>Frequency:</th>		
				<th>Mastery:</th>		
				<th>Total Risk:</th>		
				<th>Comments:</th>		
			</tr>			
			<tr>			
				<td><%= f.select :access_risk_severity, [
					['-',1001],
					['None - No injury or environmental impact is possible (0)',0], 
					['Minor - Little to no effect on people, property, or the environment (1)',1], 
					['Serious - Incident does not require work stoppage (ex: bruising, 1st degree burns, abrasion, deep cuts), no regulatory legal action or fine (3)',3], 
					['Major - An ailment or injury requiring work stoppage (ex: loss of consciousness, bone break, head injury, 2nd degree burn), or results in regulatory legal action without a fine (6)',6], 
					['Grave - Illness or injury resulting in irreversible health consequences, fatal accidents, fire, explosion, or results in regulatory fines, penalties and legal action (10)',10]
					] %></td>		
				<td><span id= "access_risk_frequency" ></span></td>		
				<td><%= f.select :access_risk_mastery, [
					['-',1001],
					['Removed - Hazard has been eliminated or substituted and no longer exists (0)',0], 
					['Controlled - Controls are in place and cannot be bypassed and all other preventive measures implemented (1)',1], 
					['Partially Controlled - Individual controls are in place but some controls require additional training and/or enforcement (3)',3], 
					['Slightly Controlled - Individual controls in place but some controls can be easily bypassed (6)',6], 
					['No Control - No personal protection and preventive measures (10)',10]
					] %></td>		
				<td><span id= "access_risk_total" ></span></td>		
				<td><%= f.text_area :access_risk_comment, :size => "35x1" %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<tr>			
				<th>New Control Type:</th>		
				<th>Yes</th>		
				<th>No</th>		
				<th>Comments:</th>		
			</tr>			
			<tr>			
				<td><B>Elimination:</B></td>		
				<td><%= f.radio_button :access_control_eliminate_yes_no, 'Yes' %></td>		
				<td><%= f.radio_button :access_control_eliminate_yes_no, 'No' %></td>		
				<td><%= f.text_area :access_control_eliminate_comment, :size => "60x1" %></td>		
			</tr>			
			<tr>			
				<td><B>Substitution:</B></td>		
				<td><%= f.radio_button :access_control_substitute_yes_no, 'Yes' %></td>		
				<td><%= f.radio_button :access_control_substitute_yes_no, 'No' %></td>		
				<td><%= f.text_area :access_control_substitute_comment, :size => "60x1" %></td>		
			</tr>			
			<tr>			
				<td><B>Engineering:</B></td>		
				<td><%= f.radio_button :access_control_engineer_yes_no, 'Yes' %></td>		
				<td><%= f.radio_button :access_control_engineer_yes_no, 'No' %></td>		
				<td><%= f.text_area :access_control_engineer_comment, :size => "60x1" %></td>		
			</tr>			
			<tr>			
				<td><B>Administrative:</B></td>		
				<td><%= f.radio_button :access_control_admin_yes_no, 'Yes' %></td>		
				<td><%= f.radio_button :access_control_admin_yes_no, 'No' %></td>		
				<td><%= f.text_area :access_control_admin_comment, :size => "60x1" %></td>		
			</tr>			
			<tr>			
				<td><B>PPE:</B></td>		
				<td><%= f.radio_button :access_control_ppe_yes_no, 'Yes' %></td>		
				<td><%= f.radio_button :access_control_ppe_yes_no, 'No' %></td>		
				<td><%= f.text_area :access_control_ppe_comment, :size => "60x1" %></td>		
			</tr>			
		</table>				
	</div>
	<div class="hidden haz1">					
		<table>				
			<col width="380">			
			<col width="380">			
			<tr>			
				<th>How Often Does Risk Exist?:</th>		
				<th>How Long Does Risk Exist?:</th>		
			</tr>			
			<tr>			
				<td><%= f.select :access_new_frequency_often, [['-',1001],['Never - Cannot be Exposed(0)',0],['Rare (1) - once per month or less',1], ['Seldom (2) - Once a week to several times a month',2], ['Regular (3) - Every week to several times a week',3], ['Common (4) - Every day to several times a day',4]] %></td>		
				<td><%= f.select :access_new_frequency_time, [['-',1001], ['Never - Cannot be Exposed(0)',0],['Short (1) - Less than fifteen minutes per occurrence',1], ['Medium (2) - Fifteen minutes to two hours per occurrence',2], ['Long (3) - Two hours to four hours per occurrence',3], ['Extended (4) - Greater than four hours per occurrence',4]] %></td>		
			</tr>			
		</table>				
	</div>					
	<div class="hidden haz1">					
		<table>				
			<col width="120">			
			<col width="120">			
			<col width="120">			
			<col width="120">			
			<tr>			
				<th>New</br>Severity:</th>		
				<th>New</br>Frequency:</th>		
				<th>New</br>Mastery:</th>		
				<th>New</br>Total Risk:</th>		
				<th>New</br>Comments:</th>		
			</tr>			
			<tr>			
				<td><%= f.select :access_new_risk_severity, [
					['-',1001],
					['None - No injury or environmental impact is possible (0)',0], 
					['Minor - Little to no effect on people, property, or the environment (1)',1], 
					['Serious - Incident does not require work stoppage (ex: bruising, 1st degree burns, abrasion, deep cuts), no regulatory legal action or fine (3)',3], 
					['Major - An ailment or injury requiring work stoppage (ex: loss of consciousness, bone break, head injury, 2nd degree burn), or results in regulatory legal action without a fine (6)',6], 
					['Grave - Illness or injury resulting in irreversible health consequences, fatal accidents, fire, explosion, or results in regulatory fines, penalties and legal action (10)',10]
					] %></td>		
				<td><%= f.select :access_new_risk_frequency, [['-',1001],['Never(0)',0], ['Minor (1)',1], ['Serious (3)',3], ['Major (6)',6], ['Grave (10)',10]] %></td>		
				<td><%= f.select :access_new_risk_mastery, [
					['-',1001],
					['Removed - Hazard has been eliminated or substituted and no longer exists (0)',0], 
					['Controlled - Controls are in place and cannot be bypassed and all other preventive measures implemented (1)',1], 
					['Partially Controlled - Individual controls are in place but some controls require additional training and/or enforcement (3)',3], 
					['Slightly Controlled - Individual controls in place but some controls can be easily bypassed (6)',6], 
					['No Control - No personal protection and preventive measures (10)',10]
					] %></td>				
				<td><span id= "access_new_risk_total" ></span></td>		
				<td><%= f.text_area :access_new_risk_comment, :size => "35x1" %></td>		
			</tr>			
		</table>				
	</div>									