<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Hazard1</th>
    <th>Hazard2</th>
    <th>Hazard3</th>
    <th>Hazard4</th>
    <th>Location</th>
    <th>Complete</th>
    <th>Date completed</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.hazard1 %></td>
    <td><%= task.hazard2 %></td>
    <td><%= task.hazard3 %></td>
    <td><%= task.hazard4 %></td>
    <td><%= task.location %></td>
    <td><%= task.complete %></td>
    <td><%= task.date_completed %></td>
    <td><%= task.department %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
