<div class="table">       
  <table>     
    <tr>    
      <th class="top first" colspan="2">  
        <%= @task.name %>
      </th> 
    </tr>   
    <tr>    
      <th class="sub first" id="col1">  
        Column 1
      </th> 
      <th class="sub first" id="col2">  
        Column 2
      </th> 
    </tr>   
    <tr>    
      <td class="r1 c1">  
        Description:
      </td> 
      <td class="r1 c2">  
        <%= @task.description %>
      </td> 
    </tr>   
    <tr>    
      <td class="r2 c1">  
        Hazard 1:
      </td> 
      <td class="r2 c2">  
        <%= @task.hazard1 %>
      </td> 
    </tr>   
    <tr>    
      <td class="r3 c1">  
        Hazard 2:
      </td> 
      <td class="r3 c2">  
        <%= @task.hazard2 %>
      </td> 
    </tr>   
    <tr>    
      <td class="r4 c1">  
        Hazard 3:
      </td> 
      <td class="r4 c2">  
        <%= @task.hazard3 %>
      </td> 
    </tr>   
    <tr>    
      <td class="r5 c1">  
        Hazard 4:
      </td> 
      <td class="r5 c2">  
        <%= @task.hazard4 %>
      </td> 
    </tr>   
    <tr>    
      <td class="r6 c1">  
        Location:
      </td> 
      <td class="r6 c2">  
        <%= @task.location %>
      </td> 
    </tr>   
    <tr>    
      <td class="r7 c1">  
        Complete:
      </td> 
      <td class="r7 c2">  
        <%= @task.complete %>
      </td> 
    </tr>   
    <tr>    
      <td class="r8 c1">  
        Date Completed:
      </td> 
      <td class="r8 c2">  
        <%= @task.date_completed %>
      </td> 
    </tr>   
  </table>      
</div>        
<%= link_to "Edit Task", edit_department_task_path(@department, @task) %>
<%= link_to "Back to Department", department_path(@department) %>

<table>
  <tr>    
      <th class="top first" colspan="4">  
        Hazards
      </th> 
    </tr>  
  <tr>
    <th>Type</th>
    <th>Date completed</th>
    <th></th>
    <th></th>
  </tr>

<% @task.hazards.each do |hazard| %>
  <tr>
    <td><%= link_to "#{hazard.haztype}",[@department,@task,hazard] %></td>
    <td><%= hazard.date_completed %></td>
    <td><%= link_to 'Edit', edit_department_task_hazard_path(@department,@task,hazard) %></td>
    <td><%= link_to 'Destroy', [@department,@task,hazard], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hazard', new_department_task_hazard_path(@department,@task) %>
