<!-- the entire task description table is contained in div w/ class="table" -->
<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @task.name %> Task Description
			</th>
		</tr>
		<tr>
			<th class="sub tleft w20">
				Task Name:
			</th>
			<th class="sub tleft">
				<%= @task.name %>
			</th>
		</tr>
		<tr>
			<td class="tleft">
				Task Description:
			</td>
			<td class="tleft">
				<%= @task.description %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Location:
			</td>
			<td class="tleft">
				<%= @task.location %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Assessment Complete:
			</td>
			<td class="tleft">
				<%= @task.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Date Completed:
			</td>
			<td class="tleft">
				<%= @task.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Actions:
			</td>
			<!-- task description table contains task information (above) and action buttons -->
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Task Info', edit_department_task_path(@department,@task), :class=>"link2" %></li>
					<li><%= link_to 'Back to Task List', department_path(@department), :class=>"link2" %></li>
				</ul>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<th class="sub tleft w20" colspan="2">
				<!-- blank row to distinguish task description from hazards descriptions -->
			</th>
		</tr>
		<!-- hazard list - linked via task javascript to populate based on items checked in task form -->
		<tr>
			<td class="tcenter w20">
				<ul class="menu w100">
					<li class="checkbox1 one hidden yes_no">
						<div class="hidden" id="index">1</div>
						<div class="label" id="haz1">Access & Egress</div>
						<div class="hidden" id="value"><%= @task.hazard1 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 two hidden yes_no">
						<div class="hidden" id="index">2</div>
						<div class="label" id="haz2">Biohazard</div>
						<div class="hidden" id="value"><%= @task.hazard2 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 three hidden yes_no">
						<div class="hidden" id="index">3</div>
						<div class="label" id="haz3">Co-Worker</div>
						<div class="hidden" id="value"><%= @task.hazard3 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 four hidden yes_no">
						<div class="hidden" id="index">4</div>
						<div class="label" id="haz4">Cut & Puncture</div>
						<div class="hidden" id="value"><%= @task.hazard4 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 five hidden yes_no">
						<div class="hidden" id="index">5</div>
						<div class="label" id="haz5">Ergonomics</div>
						<div class="hidden" id="value"><%= @task.hazard5 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 six hidden yes_no">
						<div class="hidden" id="index">6</div>
						<div class="label" id="haz6">Slip / Fall</div>
						<div class="hidden" id="value"><%= @task.hazard6 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 seven hidden yes_no">
						<div class="hidden" id="index">7</div>
						<div class="label" id="haz7">Fire</div>
						<div class="hidden" id="value"><%= @task.hazard7 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 eight hidden yes_no">
						<div class="hidden" id="index">8</div>
						<div class="label" id="haz8">Hazardous Atmosphere</div>
						<div class="hidden" id="value"><%= @task.hazard8 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 nine hidden yes_no">
						<div class="hidden" id="index">9</div>
						<div class="label" id="haz9">Hazardous Energy</div>
						<div class="hidden" id="value"><%= @task.hazard9 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 ten hidden yes_no">
						<div class="hidden" id="index">10</div>
						<div class="label" id="haz10">Hazardous Materials</div>
						<div class="hidden" id="value"><%= @task.hazard10 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 eleven hidden yes_no">
						<div class="hidden" id="index">11</div>
						<div class="label" id="haz11">Lasers</div>
						<div class="hidden" id="value"><%= @task.hazard11 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 twelve hidden yes_no">
						<div class="hidden" id="index">12</div>
						<div class="label" id="haz12">Lone-Worker</div>
						<div class="hidden" id="value"><%= @task.hazard12 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 thirteen hidden yes_no">
						<div class="hidden" id="index">13</div>
						<div class="label" id="haz13">Magnetism</div>
						<div class="hidden" id="value"><%= @task.hazard13 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 fourteen hidden yes_no">
						<div class="hidden" id="index">14</div>
						<div class="label" id="haz14">Mechanical Handling</div>
						<div class="hidden" id="value"><%= @task.hazard14 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 fifteen hidden yes_no">
						<div class="hidden" id="index">15</div>
						<div class="label" id="haz15">Noise & Vibration</div>
						<div class="hidden" id="value"><%= @task.hazard15 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 sixteen hidden yes_no">
						<div class="hidden" id="index">16</div>
						<div class="label" id="haz16">Overhead</div>
						<div class="hidden" id="value"><%= @task.hazard16 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 seventeen hidden yes_no">
						<div class="hidden" id="index">17</div>
						<div class="label" id="haz17">Radiation</div>
						<div class="hidden" id="value"><%= @task.hazard17 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 eighteen hidden yes_no">
						<div class="hidden" id="index">18</div>
						<div class="label" id="haz18">Road</div>
						<div class="hidden" id="value"><%= @task.hazard18 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 nineteen hidden yes_no">
						<div class="hidden" id="index">19</div>
						<div class="label" id="haz19">Temperature</div>
						<div class="hidden" id="value"><%= @task.hazard19 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 twenty hidden yes_no">
						<div class="hidden" id="index">20</div>
						<div class="label" id="haz20">Tool</div>
						<div class="hidden" id="value"><%= @task.hazard20 ? '1' : '0' %></div>
						<!-- NOTE: no comma div in last checkbox in hazard list -->
					</li>
				</ul>
			</td>
			<!-- hazard form generator - linked to task javascript to populate based on active checkbox selected -->
			<td>
				<%= form_for([@department,@task]) do |f| %>
				<div class="hidden">
					<%= f.check_box :complete %>
				</div>
				<table class="form">
					<tr>
						<td class="tcenter">
							<%= f.fields_for :hazards do |builder| %>
								<%= render "hazard_fields", :f => builder%>
							<% end %>
						</td>
					</tr>
					<tr>
						<td class="tcenter">
							<ul class="menu w100">
								<li class="complete"><%= f.submit 'Save as Complete', :class=>"link2" %></li>
								<li><%= f.submit 'Save as Draft', :class =>"link2" %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</table>
			</td>
	</table>
</div>

