<!-- the entire task description table is contained in div w/ class="table" -->
<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @task.name %> Task Description
			</th>
		</tr>
		<tr>
			<th class="sub tleft w20">
				Task Name:
			</th>
			<th class="sub tleft">
				<%= @task.name %>
			</th>
		</tr>
		<tr>
			<td class="tleft">
				Task Description:
			</td>
			<td class="tleft">
				<%= @task.description %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Location:
			</td>
			<td class="tleft">
				<%= @task.location %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Assessment Complete:
			</td>
			<td class="tleft">
				<%= @task.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Date Completed:
			</td>
			<td class="tleft">
				<%= @task.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Actions:
			</td>
			<!-- task description table contains task information (above) and action buttons -->
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Task Info', edit_department_task_path(@department,@task), :class=>"link2" %></li>
					<li><%= link_to 'Back to Task List', department_path(@department), :class=>"link2" %></li>
				</ul>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<th class="sub tleft w20">
				
			</th>
			<th class="sub tleft">
				
			</th>
		</tr>
		<tr class="one hidden">
			<td class="tcenter">
				<ul class="menu w100">
					<div class="checkbox1" id="yes_no">
						<div class="hidden" id="index">1</div>
						<div class="label">Hazard Type 1</div>
						<div class="hidden" id="value"><%= @task.hazard1 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</div>
				</ul>
			</td>
			<td>
				HERE
			</td>
		</tr>
		<tr class="two hidden">
			<td class="tcenter">
				<ul class="menu w100">
					<div class="checkbox1" id="yes_no">
						<div class="hidden" id="index">2</div>
						<div class="label">Hazard Type 2</div>
						<div class="hidden" id="value"><%= @task.hazard2 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</div>
				</ul>
			</td>
			<td>
				HERE
			</td>
		</tr>
		<tr class="three hidden">
			<td class="tcenter">
				<ul class="menu w100">
					<li class="checkbox1" id="yes_no">
						<div class="hidden" id="index">3</div>
						<div class="label">Hazard Type 3</div>
						<div class="hidden" id="value"><%= @task.hazard3 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</div>
				</ul>
			</td>
			<td>
				HERE
			</td>
		</tr>
		<tr class="four hidden">
			<td class="tcenter">
				<ul class="menu w100">
					<li class="checkbox1" id="yes_no">
						<div class="hidden" id="index">4</div>
						<div class="label">Hazard Type 4</div>
						<div class="hidden" id="value"><%= @task.hazard4 ? '1' : '0' %></div>
					</div>
				</ul>
			</td>
		</tr>
	</table>
</div>


