<!-- the entire task description table is contained in div w/ class="table" -->
<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @task.name %> Task Description
			</th>
		</tr>
		<tr>
			<th class="sub tleft w20">
				Task Name:
			</th>
			<th class="sub tleft">
				<%= @task.name %>
			</th>
		</tr>
		<tr>
			<td class="tleft">
				Task Description:
			</td>
			<td class="tleft">
				<%= @task.description %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Location:
			</td>
			<td class="tleft">
				<%= @task.location %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Hazards Associated </br> with this Task:
			</td>
			<td class="tcenter">
				<ul class="menu w100">
					<li class="checkbox4">
						<div class="label">Hazard Type 1</div>
						<div class="yesno"><%= @task.hazard1 ? 'Yes' : 'No' %></div>
						<!-- THIS MAY BE A POSSIBLE ROUTE 
						CREATE A LINK THAT GENERATES THE PROPER FORM FIELDS BELOW
						HIDE AND SHOW THE LINK BASED ON THE BOOLEAN RESULT -->
						<div id="showyes"><%= link_to 'Fill Out From', department_path(@department), :class=>"link1" %></div>
					</li>
					<li class="checkbox4">
						<div class="label">Hazard Type 2</div>
						<div class="yesno"><%= @task.hazard2 ? 'Yes' : 'No' %></div>
					</li>
					<li class="checkbox4">
						<div class="label">Hazard Type 3</div>
						<div class="yesno"><%= @task.hazard3 ? 'Yes' : 'No' %></div>
					</li>
					<li class="checkbox4">
						<div class="label">Hazard Type 4</div>
						<div class="yesno"><%= @task.hazard4 ? 'Yes' : 'No' %></div>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Assessment Complete:
			</td>
			<td class="tleft">
				<%= @task.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Date Completed:
			</td>
			<td class="tleft">
				<%= @task.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Actions:
			</td>
			<!-- task description table contains task information (above) and action buttons -->
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Task Info', edit_department_task_path(@department,@task), :class=>"link2" %></li>
					<li><%= link_to 'Back to Task List', department_path(@department), :class=>"link2" %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<h1>Insert Smart Drop-Down List Here</h1>
<h2>Select which hazard form appears below</h2>


