<!-- the entire task description table is contained in div w/ class="table" -->
<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @task.name %> Task Description
			</th>
		</tr>
		<tr>
			<th class="sub tleft w20">
				Task Name:
			</th>
			<th class="sub tleft">
				<%= @task.name %>
			</th>
		</tr>
		<tr>
			<td class="tleft">
				Task Description:
			</td>
			<td class="tleft">
				<%= @task.description %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Location:
			</td>
			<td class="tleft">
				<%= @task.location %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Assessment Complete:
			</td>
			<td class="tleft">
				<%= @task.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Date Completed:
			</td>
			<td class="tleft">
				<%= @task.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Task Actions:
			</td>
			<!-- task description table contains task information (above) and action buttons -->
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Task Info', edit_department_task_path(@department,@task), :class=>"link2" %></li>
					<li><%= link_to 'Back to Task List', department_path(@department), :class=>"link2" %></li>
				</ul>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<th class="sub tleft w20" colspan="2">
				<!-- blank row to distinguish task description from hazards descriptions -->
			</th>
		</tr>
		<!-- hazard list - linked via task javascript to populate based on items checked in task form -->
		<tr>
			<td class="tcenter w20">
				<ul class="menu w100">
					<li class="checkbox1 one hidden yes_no">
						<div class="hidden" id="index">1</div>
						<div class="label" id="haz1">Hazard Type 1</div>
						<div class="hidden" id="value"><%= @task.hazard1 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 two hidden yes_no">
						<div class="hidden" id="index">2</div>
						<div class="label" id="haz2">Hazard Type 2</div>
						<div class="hidden" id="value"><%= @task.hazard2 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 three hidden yes_no">
						<div class="hidden" id="index">3</div>
						<div class="label" id="haz3">Hazard Type 3</div>
						<div class="hidden" id="value"><%= @task.hazard3 ? '1' : '0' %></div>
						<div class="hidden" id="comma">,</div>
					</li>
					<li class="checkbox1 four hidden yes_no">
						<div class="hidden" id="index">4</div>
						<div class="label" id="haz4">Hazard Type 4</div>
						<div class="hidden" id="value"><%= @task.hazard4 ? '1' : '0' %></div>
						<!-- NOTE: no comma div in last checkbox in hazard list -->
					</li>
				</ul>
			</td>
			<!-- hazard form generator - linked to task javascript to populate based on active checkbox selected -->
			<td>
				<%= form_for([@department,@task]) do |f| %>
				<div class="hidden">
					<%= f.check_box :complete %>
				</div>
				<table class="form">
					<tr>
						<td class="tcenter">
							<%= f.fields_for :hazards do |builder| %>
								<%= render "hazard_fields", :f => builder%>
							<% end %>
						</td>
					</tr>
					<tr>
						<td class="tcenter">
							<ul class="menu w100">
								<li class="complete"><%= f.submit 'Save as Complete', :class=>"link2" %></li>
								<li><%= f.submit 'Save as Draft', :class =>"link2" %></li>
							</ul>
						</td>
					</tr>
				<% end %>
			</table>
			</td>
	</table>
</div>

