<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="table">
		<table>
			<tr>
				<th class="top" colspan="2">
					Department Description
				</th>
			</tr>
			<tr>
				<td class="showc1">
					Department Name:
				</td>
				<td class="showc2">
					<%= f.text_field :name, :class=>"field" %>
				</td>
			</tr>
			<tr>
				<td class="showc1">
					Department Description:
				</td>
				<td class="showc2">
					<%= f.text_area :description, :class=>"description" %>
				</td>
			</tr>
			<tr>
				<td class="showc1">
					Department Location:
				</td>
				<td class="showc2">
					<%= f.text_field :location, :class=>"field" %>
				</td>
			</tr>
			<tr>
				<td class="showc1">
					Assessment Complete:
				</td>
				<td class="showc2">
					<%= f.check_box :complete %>
					<%= f.label :complete, " (Select Check Box if Department Assessment is Complete)"%>
				</td>
			</tr>
			<tr>
				<td class="showc1">
					Date Completed:
				</td>
				<td class="showc2">
					<%= f.date_select :date_completed %>
					<%= f.label :date_completed, " (Select Date on which Assessment was Completed)" %>
				</td>
			</tr>
			<tr>
				<td class="showc1">
					Department Actions:
				</td>
				<td class="indexc4">
					<ul class="action">
						<li><%= f.submit 'Update Department', :class=>"tlink2 button" %></li>
						<li><%= link_to 'Back to Department List', departments_path, :class=>"tlink2" %></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

<% end %>
