<div class="table">
	<table>
		<tr>
			<th class="top" colspan="4">
				Demo Client Department Listing
			</th>
		</tr>
		<tr>
			<th class="sub tleft w25">
				Department Name:
			</th>
			<th class="sub tleft w25">
				Department Location:
			</th>
			<th class="sub tcenter w20">
				Date Complete:
			</th>
			<th class="sub tcenter">
				Department Actions:
			</th>
		</tr>
	</table>
		<%= div_for(@departments) do |department| %>
				<div class="tleft">
						<%= department.name %>
				</div>
				<div class="tleft">
					<%= department.location %>
				</div>
				<div class="tcenter">
					<%= department.date_completed %>
				</div>
				<div class="tcenter">
					<ul class="menu w100">
						<li><%= link_to 'Edit Info', edit_department_path(department), :class=>"link3" %></li>
						<li><%= link_to 'Edit Tasks', department_path(department), :class=>"link3" %></li>
						<li><%= link_to 'Destroy', department, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class=>"link3" %></li>
					</ul>
				</div>
		<% end %>
	<table>
		<tr>
			<td class="tcenter" colspan="4">
				<%= link_to 'Create New Department', new_department_path, :class=>"link1" %>
			</td>
		</tr>
	</table>
</div>
