<div class="table">
	<table>
		<tr>
			<th class="top" colspan="4">
				Demo Client Department Listing
			</th>
		</tr>
		<tr>
			<th class="sub tleft w25">
				Department Name:
			</th>
			<th class="sub tleft w25">
				Department Location:
			</th>
			<th class="sub tcenter w20">
				Date Complete:
			</th>
			<th class="sub tcenter">
				Department Actions:
			</th>
		</tr>
		<% @departments.each do |department| %>
		<tr>
			<td class="tleft">
				<%= department.name %>
			</td>
			<td class="tleft">
				<%= department.location %>
			</td>
			<td class="tcenter">
				<%= department.date_completed %>
			</td>
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Info', edit_department_path(department), :class=>"link3" %></li>
					<li><%= link_to 'Edit Tasks', department_path(department), :class=>"link3" %></li>
					<li><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"link3" %></li>
				</ul>
			</td>
		</tr>
		<% end %>
		<tr>
			<td class="tcenter" colspan="4">
				<%= link_to 'Create New Department', new_department_path, :class=>"link1" %>
			</td>
		</tr>
	</table>
</div>
