<div class="table">
	<table>
		<tr>
			<th class="top first" colspan="6">
				Demo Client Department Listing
			</th>
		</tr>
		<tr>
			<th class="sub first c1">
				Department Name:
			</th>
			<th class="sub first c2">
				Department Location:
			</th>
			<th class="sub first c3">
				Date Completed:
			</th>
			<th class="sub first c4" colspan="3">
				Assessment Actions:
			</th>
		</tr>
		<% @departments.each do |department| %>
		<tr>
			<td class="r1 c1">
				<%= department.name %>
			</td>
			<td class="r1 c2">
				<%= department.location %>
			</td>
			<td class="r1 c3">
				<%= department.date_completed %>
			</td>
			<td class="r1 c4">
				<%= link_to 'Edit Dept. Info', edit_department_path(department) %>
			</td>
			<td class="r1 c5">
				<%= link_to "Edit Dept. Tasks", department_path(department) %>
			</td>
			<td class="r1 c6">
				<%= link_to 'Destroy Dept.', department, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td class="bottom tlink" colspan="6">
				<%= link_to 'Create New Department', new_department_path %>
			</td>
		</tr>
	</table>
</div>
