<div class="table">
	<table>
		<tr>
			<th class="top" colspan="4">
				Demo Client Department Listing
			</th>
		</tr>
		<tr>
			<th class="sub indexc1">
				Department Name:
			</th>
			<th class="sub indexc2">
				Department Location:
			</th>
			<th class="sub indexc3">
				Date Complete:
			</th>
			<th class="sub indexc4">
				Department Actions:
			</th>
		</tr>
	</table>
		<%= div_for(@departments) do |department| %>
				<div class="indexc1">
						<%= department.name %>
				</div>
				<div class="indexc2">
					<%= department.location %>
				</div>
				<div class="indexc3">
					<%= department.date_completed %>
				</div>
				<div class="indexc4">
					<ul class="action">
						<li><%= link_to 'Edit Info', edit_department_path(department), :class=>"tlink3" %></li>
						<li><%= link_to 'Edit Tasks', department_path(department), :class=>"tlink3" %></li>
						<li><%= link_to 'Destroy', department, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class=>"tlink3" %></li>
					</ul>
				</div>
		<% end %>
	<table>
		<tr>
			<td class="bottom" colspan="4">
				<%= link_to 'Create New Department', new_department_path, :class=>"blink" %>
			</td>
		</tr>
	</table>
</div>
