<!-- the entire department index table is contained in div w/ class="table" -->
<div class="table">
	<!-- first subtable contains the main header and the column headers -->
	<table>
		<tr>
			<th class="top" colspan="4">
				Ipsen Department Listing
			</th>
		</tr>
		<tr>
			<th class="sub tleft w25">
				Department Name:
			</th>
			<th class="sub tleft w25">
				Department Location:
			</th>
			<th class="sub tcenter w20">
				Date Complete:
			</th>
			<th class="sub tcenter">
				Department Actions:
			</th>
		</tr>
	</table>
	<!-- div_for creates new subtable for each department created -->
	<%= div_for(@departments) do |department| %>
		<!-- each department subtable contains department information and action buttons -->
		<table>
			<tr>
				<td class="tleft w25">
					<%= department.name %>
				</td>
				<td class="tleft w25">
					<%= department.location %>
				</td>
				<td class="tcenter w20">
					<%= department.date_completed %>
				</td>
				<td class="tcenter">
					<ul class="menu w100">
						<li><%= link_to 'Edit Info', edit_department_path(department), :class=>"link3" %></li>
						<li><%= link_to 'Edit Tasks', department_path(department), :class=>"link3" %></li>
						<li><%= link_to 'Destroy', department, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class=>"link3" %></li>
					</ul>
				</td>
			</tr>
		</table>
	<% end %>
	<!-- last subtable contains the button to create new departments -->
	<table>
		<tr>
			<td class="tcenter" colspan="4">
				<%= link_to 'Create New Department', new_department_path, :class=>"link1" %>
			</td>
		</tr>
	</table>
</div>
