<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @department.name %> Department Description
			</th>
		</tr>
		<tr>
			<th class="showc1 sub">
				Department Name:
			</th>
			<th class="showc2 sub">
				<%= @department.name %>
			</th>
		</tr>
		<tr>
			<td class="showc1">
				Department Description:
			</td>
			<td class="showc2">
				<%= @department.description %>
			</td>
		</tr>
		<tr>
			<td class="showc1">
				Department Location:
			</td>
			<td class="showc2">
				<%= @department.location %>
			</td>
		</tr>
		<tr>
			<td class="showc1">
				Assessment Complete:
			</td>
			<td class="showc2">
				<%= @department.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="showc1">
				Date Completed:
			</td>
			<td class="showc2">
				<%= @department.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="showc1">
				Department Actions:
			</td>
			<td class="indexc4">
				<ul class="action">
					<li><%= link_to 'Edit Department Info', edit_department_path(@department), :class=>"tlink2" %></li>
					<li><%= link_to 'Back to Department List', departments_path, :class=>"tlink2" %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="table">
	<table>
		<tr>
			<th class="top" colspan="4">
				Tasks Performed in <%= @department.name %> Department
			</th>
		</tr>
		<tr>
			<th class="sub indexc1">
				Task Name:
			</th>
			<th class="sub indexc2">
				Task Location:
			</th>
			<th class="sub indexc3">
				Date Complete:
			</th>
			<th class="sub indexc4">
				Task Actions:
			</th>
		</tr>
		<% @department.tasks.each do |task| %>
		<tr>
			<td class="indexc1">
				<%= task.name %>
			</td>
			<td class="indexc2">
				<%= task.location %>
			</td>
			<td class="indexc3">
				<%= task.date_completed %>
			</td>
			<td class="indexc4">
				<ul class="action">
					<li><%= link_to 'Edit Task Info', edit_department_task_path(@department,task), :class=>"tlink3" %></li>
					<li><%= link_to 'Edit Hazards', department_task_path(@department,task), :class=>"tlink3" %></li>
					<li><%= link_to 'Destroy', [@department,task], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"tlink3" %></li>
				</ul>
			</td>
		</tr>
		<% end %>
		<tr>
			<td class="bottom" colspan="4">
				<%= link_to 'Create New Task', new_department_task_path(@department), :class=>"blink" %>
			</td>
		</tr>
	</table>
</div>