<!-- the entire department description table is contained in div w/ class="table" -->
<div class="table">
	<table>
		<tr>
			<th class="top" colspan="2">
				<%= @department.name %> Department Description
			</th>
		</tr>
		<tr>
			<th class="sub tleft w20">
				Department Name:
			</th>
			<th class="sub tleft">
				<%= @department.name %>
			</th>
		</tr>
		<tr>
			<td class="tleft">
				Department Description:
			</td>
			<td class="tleft">
				<%= @department.description %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Department Location:
			</td>
			<td class="tleft">
				<%= @department.location %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Assessment Complete:
			</td>
			<td class="tleft">
				<%= @department.complete ? 'Yes' : 'No' %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Date Completed:
			</td>
			<td class="tleft">
				<%= @department.date_completed %>
			</td>
		</tr>
		<tr>
			<td class="tleft">
				Department Actions:
			</td>
			<!-- department description table contains department information (above) and action buttons -->
			<td class="tcenter">
				<ul class="menu w100">
					<li><%= link_to 'Edit Department Info', edit_department_path(@department), :class=>"link2" %></li>
					<li><%= link_to 'Back to Department List', departments_path, :class=>"link2" %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<!-- show the list of all tasks associated with this department -->
<%= render 'tasks/index' %>