<!DOCTYPE html>
<html>
<head>
  <title>RiskAssessDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="header">
	<header>
		<h1>Demo Risk Assessment Application</h1>
		<h3>Version: 2.0</h3>
		<ul class="menu w90">
			<li><%= link_to 'Home', "http://localhost:3000", :class=>"link4" %></li>
			<li><%= link_to 'Departments', departments_path, :class=>"link4" %></li>
			<li><a class="link4" href="#print">Print</a></li>
			<li><a class="link4" href="#logout">Log Out</a></li>
		</ul>
	</header>
</div>

<body>

<%= yield %>

</body>
</html>
